.add-expenses {
  margin-bottom: 48px;
  padding-top: 50px;
}

.add-expenses__headline {
  margin-bottom: 32px;
  letter-spacing: 0.01em;
  font-size: 48px;
  color: var(--color-blue900);
}

.add-expenses__form {
  display: grid;
  grid-row-gap: 32px;
  padding: 16px;
  border: 1px solid var(--color-gray100);
  border-radius: var(--border-rd-lg);
}

.add-expenses__input {
  padding-bottom: 4px;
  border-bottom: 1px solid var(--color-gray1000);
  color: var(--color-blue900);
}

.add-expenses__button {
  padding: 0 12px;
  min-height: 44px;
  font-weight: 500;
  background: var(--color-blue700);
  border-radius: var(--border-rd-md);
  color: var(--color-white);
}

.add-expenses__container {
  grid-column-gap: 16px;
}

.add-expenses__error {
  text-align: center;
  font-size: 24px;
  color: var(--color-skin200)
}